{% extends "base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}
    Logged out
    <p>You have been successfully logged out. You can <a href="{% url "login" %}">log-in again</a>.</p>

    {% include "announcement.html" %}

{% endblock %}
