{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}

    <div class="card card-body bg-light">
		<div class="row">
			<div class="col-md-6">
				<h3>{% trans "New user" %}</h3>
			    <p><a href="{% url 'main:getting_started' %}"><button type="button" class=class="btn btn-default">{% trans "Sign up" %}</button></a></p>
			</div>
			<div class="col-md-6">
			    <h3>{% trans "Login" %}</h3>
			    {% if form.errors %}
			        <p>{% trans "Your username and password didn't match. Please try again." %}</p>
			    {% endif %}
		        <form action="{% url "login" %}" method="post">
		            {{ form.as_p }}
		            {% csrf_token %}
		            <input type="hidden" name="next" value="{{ next }}" />
		            <p><input type="submit" value="Log-in"></p>
		        </form>
		        <br><br>
				{% comment %}<a href="{% url "password_reset" %}"><button type="button" class=class="btn btn-warning">{% trans "I have forgotten my password" %}</button></a></p>{% endcomment %}
	
			</div>
		</div>
    </div>


{% endblock %}
