{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    Forgotten your password?
    <p>Enter your e-mail address to obtain a new password.</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Send e-mail"></p>
        {% csrf_token %}
    </form>
{% endblock %}
