{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    Reset your password
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
{% endblock %}
