{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div class="card card-body bg-light">
	<p>Now that we have an idea of your language goals and learning needs, let's make sure we don't lose all this valuable data.</p>
	<p>Please take a moment to create a user account for future sessions.</p>
</div>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    {# Translators : sign up #}
    <button type="submit">{% trans "Create an account" %}</button>
  </form>
{% endblock %}
