   	{% for exercise in selected_exercises %}
        <div class="card bg-light" style="background-color:lightblue">            
            <div class="card-body">
                <h3 class="card-title">{{ exercise.title }}</h3>
                <div class="card-text">
                    {{ exercise.homework_text|safe }}
                </div>
            </div>
        </div>
        <br>
   {% empty %}
   <p>No exercises found for today.</p>
   {% endfor %}