{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <p>
        <a href="{% url 'coach:tag_list'%}"> <button class="btn btn-primary" value="">Tag list</button></a>
	    {% if 'Update' in title  %}
	        <a href="{% url 'coach:tag_delete' id %}"> <button class="btn btn-danger" value="">Delete tag</button></a>
	    {% endif %}
    </p>
    <form method='POST' action=''>{% csrf_token %}
        {% include "main/form_header_snippet.html" %}           
        <div class="row">
            <div class="col-md-12">
                {% include "main/field_snippet.html" with field=form.title %}
            </div>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Save" />        
    </form>

{% endblock %}


{% block javascript %}
{% endblock %}

