{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <p>
        <a href="{% url 'coach:tip_list'%}"> <button class="btn btn-primary" value="">Return to Tip list</button></a>
	    {% if 'Update' in title  %}
	        <a href="{% url 'coach:tip_delete' id %}"> <button class="btn btn-danger" value="">Delete tip</button></a>
	    {% endif %}
    </p>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{field.label}}: {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form method='POST' action=''>{% csrf_token %}
        {% include "main/form_header_snippet.html" %}           
        <div class="row">
            <div class="col-md-6">
                {% include "main/field_snippet.html" with field=form.title %}
            </div>
            <div class="col-md-3">
                {% include "main/field_snippet.html" with field=form.language_specific %}
            </div>
            <div class="col-md-3">
                {% include "main/field_snippet.html" with field=form.stage %}
            </div>                  
        </div>
        <h2>{{form.text.label}}</h2>
        <small class="form-text text-muted">{{ form.text.help_text }}</small>
        <div class="row">
            <div class="col-md-12">
                {{ form.text }}
            </div>
        </div>
        <h2>{{form.homework_text.label}}</h2>      
        <small class="form-text text-muted">{{ form.homework_text.help_text }}</small>
        <div class="row">
            <div class="col-md-12">
                {{ form.homework_text }}
            </div>
        </div>      


        <div class="card card-body bg-light">
            <div class="container">
		        <div class="row">
		            <div class="col-md-6">
		                <h3>Tags that must be true</h3>
		                {{ form.tags_INC }}
		            </div>
		            <div class="col-md-6">
		                <h3>Tags that must be false</h3>
		                {{ form.tags_EXC }}
		            </div>
		        </div>

                {% for category in all_categories %}
                    <span class="category-checkbox">
                        <button type="button" 
                        
                            {% if category.id in selected_categories %}
                                class="btn btn-success" id="category_button_{{ category }}">{{ category.title }}</button>
                                <input type="checkbox" class="hidden" id="category_checkbox_{{ category.id }}" name = "selected_categories[]" value="{{ category.id }}" checked>
                            {% else %}
                                class="btn btn-default" id="category_button_{{ category.id }}">{{ category.title }}</button>
                                <input type="checkbox" class="hidden" id="category_checkbox_{{ category.id }}" name = "selected_categories[]" value="{{ category.id }}">                         
                            {% endif %}                     
                    </span>
                {% empty %}
                {% endfor %}
            </div>
        </div>  
    
        {% comment %} list out tags as hidden elements, displayed on click of appropriate category {% endcomment %}
        <div class="card card-body bg-light">
            {% for category in all_categories %}
            <div id="category_tag{{ category.id }}" 
                {% if category.id in selected_categories %}
                    >
                {% else %}
                    style="display: none;">
                {% endif %}
                {% for field in form.visible_fields %}
                    {% if category.name in field.name %}
                        {{ field.label_tag }}
                        render_field field class="form-control"
                    {% endif %}
                {% empty %}
                    <a href="{% url 'coach:tag_create' %}" class="list-group-item">No tags registered for this category - click here to create</a>
                {% endfor %}
            </div>
            {% endfor %}            
            <input class="btn btn-primary" type="submit" value="Save" />        
        </div>
        <br>
    </form>
    <a href="{% url 'coach:tag_create' %}"><button class="btn btn-success" value="">Create a new tag</button></a>   
{% endblock %}


{% block javascript %}

    // reveal category's tag and highlight button
    $("body").click(function(e){
        if (e.target.id.startsWith("category_button_")) {
            var but_id_num = e.target.id.replace("category_button_","")
            var checkbox_id = "#category_checkbox_" + but_id_num; 
            var gram_id = "#category_tag" + but_id_num;
            if ($(e.target).attr('class') == 'btn btn-success') {
                $(e.target).removeClass("btn btn-success").addClass("btn btn-default");
                $(gram_id).hide();
            } else if ($(e.target).attr('class') == 'btn btn-default') {
                $(e.target).removeClass("btn btn-default").addClass("btn btn-success");
                $(gram_id).show();
            };
            $(checkbox_id).prop('checked', !$(checkbox_id).is(':checked')) // inverse check
        };
    });
    
{% endblock %}

