{% extends 'base.html' %}

{% block title %}Tip List{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <th></th>
            <th>Title</th>
            <th>Stage</th>
            <th>Uptake/Exposures</th>
            <th></th>
        </thead>
        <tbody>
	    	{% for entry in tip_list %}
		       <tr>
		           <td><a href="{% url 'coach:tip_update' entry.id %}"><button type="button" class="btn btn-primary">Update</button></a></td>
	               <td>
	                   <strong>{{ entry.title }}</strong><br>	                   
	                   <p>
		                   {% if entry.tags_REQUIRED %}
			                   {% for req_tag in entry.tags_REQUIRED %}
			                       <span class="bg-success">{{ req_tag }}</span>
		                       {% endfor %}
	                       {% endif %}
	                       {% if entry.tags_REJECTED %}
	                           {% for rej_tag in entry.tags_REJECTED %}
	                               <span class="bg-danger">{{ rej_tag }}</span> 
	                           {% endfor %}
	                       {% endif %}
                       </p>
                   </td>
	               <td>{{ entry.stage }}</td>
	               <td>{{ entry.uptake }}% / {{ entry.exposures }}</td>
	               <td><a href="{% url 'coach:tip_delete' entry.id %}"><button type="button" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i></button></a></td>
	          </tr>
		   {% empty %}
		   <tr><td>No tips found.</td></tr>
		   {% endfor %}
        </tbody>
   </table>
    <a href="{% url 'coach:tip_create' %}"><button type="button" class="btn btn-success">Create a new tip</button></a>
    <a href="{% url 'coach:tag_list'%}"> <button class="btn btn-primary" value="">Tag list</button></a>
    
{% endblock %}