   	{% for tip in selected_tips %}
        <div class="card bg-light" style="background-color:lightblue">            
            <div class="card-body">
                <h3 class="card-title">{{ tip.title }}</h3>
                <div class="card-text">
                    {{ tip.text|safe }}
                </div>
            </div>
        </div>
        <br>
   {% empty %}
   <p>No tips found for today.</p>
   {% endfor %}
