{% extends 'base.html' %}

{% block title %}Grammars{% endblock %}

{% block content %}
<div class="container">
	<p>
		<a href="{% url 'grammar:gram_create'%}"> <button class="btn btn-primary" value="">Add new grammar</button></a>
		<a href="{% url 'main:add_stage'%}"> <button class="btn btn-primary" value="">Add additional stage</button></a>
		{% if perms.grammar.super_creator %}
		  <a href="{% url 'grammar:gramconcept_list'%}"> <button class="btn btn-default" value="">View Grammar Concepts</button></a>
		{% endif %}
	</p>
	{% include "grammar/gram_list_snippet.html" %}
</div>
{% endblock %}



