{% extends 'base.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
    </script>
{% endblock %}


{% block title %}Example questions for<br>{{grammar_title}}{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
			<th>Question</th>
			<th>Answer</th>
			<th>Grammar
                 <span style="color:Tomato" data-html="true" data-trigger="hover" data-toggle="tooltip" title="A green tick indicates this question tests {{grammar_title}} grammar. Otherwise 
                 the sentence is considered to have a harder grammar as indicated and will not be used to test this grammar.">
                     <i class="fas fa-question-circle fa-lg"></i>
                 </span>   			
			</th>	
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for key,value in output.items %}
		{% if value.title %}
			<tr style="background: #eeeeee;">
				<th></th>
				<th></th>
				<th></th>
				<th></th>				
			</tr>
		{% else %}
				<tr>
					{% if value.question_id is not None %}
						<td>{{ value.front }}</td>
						<td>{{ value.back }}</td>
						<td>
						{% if value.belong == True %}<button type="button" class="btn btn-success"><i class="fas fa-check-circle" aria-hidden="true"></i></button>
						{% else %}
						<button type="button" class="btn btn-default">{{ value.grammar_title }}</button>
						{% endif %}
						</td>
						<td>
							<a href="{% url 'grammar:question_delete' value.question_id %}"><button type="button" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i></button></a>
							<a href="{% url 'grammar:update_question' value.question_id %}"><button type="button" class="btn btn-primary">Edit</button></a>							
						</td>
					{% else %}
							<td>{{ value.front }}</td>
							<td>
								<a href="{% url 'grammar:new_question_from_sentence' value.sentence_id %}"><button type="button" class="btn btn-default">Create a matching translation</button></a>
							</td>
							<td></td>
							<td>
							</td>
							<td></td>
					{% endif %}
		  		</tr>

		{% endif %}
		{% if value.sentence_id is None %}
		{% else %}
		</a></tr> 
		{% endif %}
	{% endfor %}
       </tbody>
</table>

<p>
	<a href="{% url 'grammar:create_dashboard'%}"> <button class="btn btn-primary" value="">Return to Grammar list</button></a>
	<a href="{% url 'grammar:new_question_for_grammar' grammar.id %}"> <button class="btn btn-success" value="">Add a Question</button></a>
</p>
	

{% endblock %}

{% block javascript %}
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover(); 
        $('[data-toggle="tooltip"]').tooltip(); 
    });
{% endblock %}

    