<table class="table">
{% for counter,type in countlist.items %}
	{% if type == "stage" %}
	<thead class="thead-inverse">
		<tr>
			<th>
				Stage {{ stage_titles|get_item:counter }}
			</th>
		</tr>
	</thead>
	{% elif type == "grammar" %}
	<tr>
		<td><a href="{% url 'grammar:gram_update' grammar_id|get_item:counter %}">{{ grammar_titles|get_item:counter }}</a>({{ grammar_concepts|get_item:counter }})</td>
		<td>
			<a href="{% url 'grammar:gram_update' grammar_id|get_item:counter %}">
				{% if grammar_explanation|get_item:counter %}
					<button type="button" class="btn btn-success" id="grammar_explanation_{{ counter }}">Explanation</button>
				{% else %}
					<button type="button" class="btn btn-warning" id="grammar_explanation_{{ counter }}">Explanation</button>
				{% endif %}		
			</a>	
		</td>
		<td>
			<a href="{% url 'grammar:example_questions' grammar_id|get_item:counter %}">
				{% if grammar_example_question|get_item:counter %}
					<button type="button" class="btn btn-success" id="grammar_example_question_{{ counter }}">Example Question<span class="badge badge-pill badge-success">{{ questions|get_item:counter }}</span></button>
				{% else %}
					<button type="button" 
					{% if questions|get_item:counter == 0 %}
						class="btn btn-danger"
					{% elif questions|get_item:counter < 9 %}
						class="btn btn-warning"					 
					{% else %}
						class="btn btn-success"
					{% endif %}
						id="grammar_example_question_{{ counter }}">Example Question<span class="badge badge-pill badge-success">{{ questions|get_item:counter }}</span></button>
				{% endif %}			
			</a>
		</td>
		<td>
			<form action="{% url 'grammar:grammar_restage' grammar_id|get_item:counter %}" method="post">{% csrf_token %}
				<div class="btn-group">
					<button type="button" id="grammar_restage_{{ counter }}" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Stage<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{% for key,stg in stages.items %}
						
							<li><button type="submit" name="stage" value = "{{ stg.id }}" class="btn-link"> {{ stg.title }}</button></li>
						{% endfor %}
					</ul>
				</div>
			</form>
		</td>
		<td>
			<a href="{% url 'grammar:grammar_delete' grammar_id|get_item:counter %}"><button type="button" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i></button></a>
 			</td>
 		</tr>
 		{% endif %}
{% endfor %}
</table>
