{% include "main/form_snippet.html" %}
	
	<div class="row">
		<div class="col-md-12">				
			{% for g_concept in uninstantiated_gram_concepts %}
				<span class="button-checkbox">
					<button type="submit" class="btn btn-warning" name="GramConcept" value="{{ g_concept.id }}">
						{{ g_concept.title }}
					</button>
				</span> . 
			{% endfor %}
			{% for g_concept in inst_gram_concepts %}
				<span class="button-checkbox">
					<button type="submit" class="btn btn-success" name="GramConcept" value="{{ g_concept.id }}">
						{{ g_concept.title }}
					</button>
				</span> . 
			{% endfor %}
		</div>
	</div> 
