<table class="table">
{% for key,value in stage_array.items %}
	{% if value.type == "stage" %}
	<thead class="thead-inverse">
		<tr>
			<th>
				Stage {{ value.stage_titles }}
			</th>
			<th>
			</th>
		</tr>
		<tr>
		    <th>Progress</th>
		    <th>Grammar</th>
		</tr>
	</thead>
	{% else %}
	{% if value.highlight %}
		<tr style="background: #ff944d;">
	{% else %}
		<tr style="background: #eeeeee;">
	{% endif %}
		<td>
			<div class="progress"><div class="progress-bar
			{% if value.colour == "Blue" %}progress-bar-info" {% endif %}
			{% if value.colour == "Green" %}progress-bar-success" {% endif %}
			{% if value.colour == "Yellow" %}progress-bar-warning  progress-bar-striped" {% endif %}
			{% if value.colour == "Red" %}progress-bar-danger" {% endif %}
				role="progressbar" style="width: {% widthratio value.grammar_progress 1 100 %}%"
				aria-valuenow="{% widthratio value.grammar_progress 1 100 %}" aria-valuemin="0" aria-valuemax="100">

				{% if value.colour == "Blue" %}{% endif %}
				{% if value.colour == "Green" %}{% endif %}
				{% if value.colour == "Yellow" %}{% endif %}
				</div>
			</div>
		</td>
		<td>
			<a href='#' data-toggle="modal" data-target="#Modal_{{value.id}}">
				{{ value.grammar_titles }}
			</a>
			{% include "modal_div.html" with modal_id=value.id modal_header=value.modal_title modal_text=value.explanation %}
		</td>
 		</tr>
 		{% endif %}
{% endfor %}
</table>