{% extends 'base.html' %}

{% block title %}Delete Grammar Concept{% endblock %}

{% block content %}
	
	<form action="" method="post">{% csrf_token %}
	    <p>Are you sure you want to delete "{{ object }}"?</p>
	    <input type="submit" value="Confirm" />
	</form>

{% endblock %}
