{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    
	{% include "main/form_snippet.html" %}
	<p>
		<a href="{% url 'grammar:create_dashboard'%}"> <button class="btn btn-primary" value="">Return to Grammar list</button></a>
		{% if form.id.value %}
		<a href="{% url 'grammar:new_question_for_grammar' form.id.value %}"> <button class="btn btn-success" value="">Add a Question</button></a>
		{% endif %}		
	</p>
	
{% endblock %}