{% extends 'base.html' %}



{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
	            <div class="alert alert-danger" role="alert">
	                {{field.label}}: {{ error|escape }}
	            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}


	<form method='POST' action=''>{% csrf_token %}
        {% include "main/form_header_snippet.html" %}           
			<input type="hidden" id="tog_status" value={{form.NativeFront.value}}>
		<p>
			<i>Toggle according to whether you wish the {{ native_language }} sentence to appear first as the question or second as the answer.</i>
		</p>
		<div class="row">
			<div class="col-md-2">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
	                {% if form.NativeFront.value == 'on' %}
					  <label class="btn btn-secondary active">
					    <input type="radio" name="NativeFront" id="option1" autocomplete="off" checked> Question
					  </label>
					  <label class="btn btn-secondary">
					    <input type="radio" name="NativeFront" id="option2" autocomplete="off"> Answer
					  </label>
	                {% else %}
	                  <label class="btn btn-secondary">
	                    <input type="radio" name="NativeFront" id="option1" autocomplete="off"> Question
	                  </label>
	                  <label class="btn btn-secondary active">
	                    <input type="radio" name="NativeFront" id="option2" autocomplete="off" checked> Answer
	                  </label>
	                {% endif %}
				</div>
			</div>
			<div class="col-md-10">
				<label for="id_NativeSentence">{{ native_language }} sentence:</label>
				<input type="text" size="50" name="NativeSentence" autofocus maxlength="200" value="{{form.NativeSentence.value}}" required id="id_NativeSentence" />
			</div>		
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-10">
				<label for="id_TargetSentence">{{ target_language }} sentence:</label>
				<input type="text" size="50" name="TargetSentence" maxlength="200" value="{{form.TargetSentence.value}}" required id="id_TargetSentence" {% if TargetSentence_id %}readonly{% endif %}	/></p>
			</div>
		</div>		
		<div class="row" >
			<div class="col-md-6">
				<label for="id_Hint">Hint:</label>				
				
				{{ form.Hint }}
				
				<i>Text that helps lead the student to providing the answer you are seeking. Useful when multiple possible answers are possible.</i>		
			</div>
			<div class="col-md-6">
				<label for="id_Explanation">Explanation:</label>
				{{ form.Explanation }}
				<i>Answers why common entries are incorrect and this answer is correct.</i>
			</div>
		</div>

	<h2>Featured Grammars</h2>
		<p><i>Select a stage and check grammars related to the {{ target_language }} sentence</i></p>
		<div class="card card-body bg-light">
			<div class="container">
				{% for stg in all_stages %}
					<span class="stage-checkbox">
						<button type="button" 
						
							{% if stg.id in selected_stages %}
				  				class="btn btn-success" id="stage_button_{{ stg.id }}">{{ stg.title }}</button>
				  				<input type="checkbox" style="display: none;" id="stage_checkbox_{{ stg.id }}" name = "selected_stages[]" value="{{ stg.id }}" checked>
				  			{% else %}
				  				class="btn btn-default" id="stage_button_{{ stg.id }}">{{ stg.title }}</button>
				  				<input type="checkbox" style="display: none;" id="stage_checkbox_{{ stg.id }}" name = "selected_stages[]" value="{{ stg.id }}">			  				
							{% endif %}						
					</span>
				{% empty %}
				    <li><a href="{% url 'main:add_stage' %}">No Stages registered - click here to create</a></li>
				{% endfor %}
			</div>
		</div>	
	
		{% comment %} list out grammars as hidden elements, displayed on click of appropriate stage {% endcomment %}
		<div class="card card-body bg-light">
			{% for stg in all_stages %}
			<div id="stage_grammar{{ stg.id }}" 
				{% if stg.id in selected_stages %}
					>
				{% else %}
					style="display: none;">
				{% endif %}
				{% for grammar in stg.grammars %}
					<span class="button-checkbox">
					{% if grammar.id in selected_grammars %}					
						<button type="button" class="btn active btn-default" data-color="default">
							<input type="checkbox" style="display: none;" name="GrammarsIncluded[]" value="{{ grammar.id }}" checked>
							{{grammar.title}}
						</button>
					{% else %}
						<button type="button" class="btn btn-default" data-color="default">
							<input type="checkbox" style="display: none;" name="GrammarsIncluded[]" value="{{ grammar.id }}">
							{{grammar.title}}
						</button>
					{% endif %}
					</span>
				{% empty %}
					<a href="{% url 'grammar:create_dashboard' %}" class="list-group-item">No grammars registered for this stage - click here to create</a>
				{% endfor %}
			</div>
			{% endfor %}			
		</div>
		<br>
		<input class="btn btn-primary" type="submit" value="Save" />		
	</form>
    {% if title == 'Update Question' %}
        <a href="{% url 'grammar:question_delete' question_id %}"> <button class="btn btn-danger" value="">Delete question</button></a>
    {% endif %}

{% endblock %}


{% block javascript %}


	// reveal stage's grammar and highlight button
	$("body").click(function(e){
		if (e.target.id.startsWith("stage_button_")) {
			var but_id_num = e.target.id.replace("stage_button_","")
			var checkbox_id = "#stage_checkbox_" + but_id_num; 
			var gram_id = "#stage_grammar" + but_id_num;
			if ($(e.target).attr('class') == 'btn btn-success') {
				$(e.target).removeClass("btn btn-success").addClass("btn btn-default");
				$(gram_id).hide();
			} else if ($(e.target).attr('class') == 'btn btn-default') {
				$(e.target).removeClass("btn btn-default").addClass("btn btn-success");
				$(gram_id).show();
			};
			$(checkbox_id).prop('checked', !$(checkbox_id).is(':checked')) // inverse check
		};
	});

	// handles ticking of grammar points
	$(function () {
	    $('.button-checkbox').each(function () {
	        // Settings
	        var $widget = $(this),
	            $button = $widget.find('button'),
	            $checkbox = $widget.find('input:checkbox'),
	            color = $button.data('color'),
	            settings = { 									// unique to grammars
	                on: {
	                    icon: 'far fa-check-square'
	                },
	                off: {
	                    icon: 'far fa-square'
	                }
	            };
	
	        // Event Handlers
	        $button.on('click', function () {
	            $checkbox.prop('checked', !$checkbox.is(':checked'));
	            $checkbox.triggerHandler('change');
	            updateDisplay();
	        });
	        $checkbox.on('change', function () {
	            updateDisplay();
	        });
	
	        // Actions
	        function updateDisplay() {
	            var isChecked = $checkbox.is(':checked');
	
	            // Set the button's state
	            $button.data('state', (isChecked) ? "on" : "off");
	
	            // Set the button's icon								// grammar only
	            $button.find('.state-icon')
	                .removeClass()
	                .addClass('state-icon ' + settings[$button.data('state')].icon);
	
	            // Update the button's color
	            if (isChecked) {
	                $button
	                    .removeClass('btn-default')
	                    .addClass('btn-' + color + ' active');
	            }
	            else {
	                $button
	                    .removeClass('btn-' + color + ' active')
	                    .addClass('btn-default');
	            }
	        }
	
	        // Initialization
	        function init() {
	
	            updateDisplay();
	
	            // Inject the icon if applicable
	            if ($button.find('.state-icon').length == 0) {
	                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
	            }	            
	        }
	        init();
	    });
	});
	
{% endblock %}




