{% extends 'base.html' %}

{% block title %}Question{% endblock %}

{% block content %}
<div class="card">
	<h3 class="card-header">Grammar Quiz</h3>
	<br>
	<div class="card-block">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Question</h4>
			    <p class="card-text"><i>
			    Translate from 
				{% if question.front.language == question.grammar.target_language %}
					{{ question.target_language }} to {{ question.native_language }}
				{% else %}
					{{ question.native_language }} to {{ question.target_language }}
				{% endif %}	
				</i></p>	
			</div>
			<div class="panel-body">
			    <p><strong>{{ question.front }}</strong></p>
			</div>		
			{% if question.hint != "" %}
				<div class="panel-footer">
					<p><strong>Hint:</strong></p>
				    <p>{{ question.hint|safe }}</p>
				</div>
			{% endif %}
		</div>
		
		<form ajax_url="{% url 'grammar:ajax_submit_answer' %}" method="post" id="ajax-form">
			{% csrf_token %}
			<p>Do your best to answer in the text box provided:</p>				
			<p><input type="text" autofocus name="user_entry" style='width:100%' id="id_user_entry"/></p>
			<input type="hidden" id="question_id" name="question_id" value="{{ question.id }}">
			<br>
			<div class="submitbuttons">
				<input type="submit" id="id_enter_key_submit" style="display:none"/>			
				<input id="id_submitanswer" class="btn btn-primary" type="submit" value="Submit" /><a href="{% url 'grammar:question_score'%}"> <button id="id_pass" type="button" class="btn btn-primary" value="">Pass</button></a>
			</div>
		</form>
		

		<div class="card-block" id="answer">
		</div>	
	<br>
	<table class="table">
		<tr>
			<td style="width: 50%">
				Assessment Progress:
			</td>
			<td style="width: 50%">
				<div class="progress"> 
					<div class="progress-bar progress-bar-info" role="progressbar" style="width: {% widthratio testprogress 1 100 %}%" 
						aria-valuenow="{% widthratio testprogress 1 100 %}" aria-valuemin="0" aria-valuemax="100">
					</div>
				</div>

			</td>
		</tr>
	</table>


	</div>


</div>
{% endblock %}


{% block javascript %}
$('#ajax-form').on('submit', function(event){
    console.log("post_form started");
    if ( !$( "#assess_form_id" ).length ) { 
        // this is before the form has been received an ajax answer
	    event.preventDefault();
	    form = $(this);
	    $('#ajax-form').off('submit');
	    submit_answer(form);    
    };
});

function submit_answer(form) {
	//var question_id = $("#question_id").val();
	console.log("sub_ans started");	
	$.ajax({
		type: "POST",
		url: form.attr("ajax_url"),
		dataType: 'json',
		data: form.serialize(),

		success : function(json) {
		    console.log("success started");
		    $("#id_user_entry").prop("readonly","true"); // prevent the user-entered answer from being altered
		    $("#id_submitanswer").remove();
		    $("#id_pass").remove();
		    //$("#id_enter_key_submit").remove();		    
			//$(".submitbuttons").empty()
		    $("#answer").append(json); // add in new html
		},

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
		    console.log("error started");
            $('#answer').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
	});
};
    
{% endblock %}