{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Check translations{% endblock %}

{% block content %}
    {% if perms.main.admin %}
      <a href="{% url 'grammar:view_ratifications'%}"> <button class="btn btn-primary" value="">Ratification Rejected Questions</button></a>
    {% endif %}
    
    
    <p>
        Please check the correctness of the following translations. If you think a translation is 
        correct, select 'Approve', otherwise select 'Reject'. If you reject you can also provide a 
        corrected translation.
    </p> 
    <p>
        <i>Please remember, we are only asking you as a native speaker to check the <b>Translation</b>, 
        that it is a faithful representation of the Original.</i>
    </p>

    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
	    <table>
	        <tr>
		        <th>Original</th>
		        <th>Translation</th>
		        <th>Assessment</th>
		        <th>Corrected translation</th>
	        </tr>
		    {% for form in formset %}
			    <tr>
			       <td><i>{{ form.prompt.value }}</i></td>
			       <td><b>{{ form.candidate_text.value }}</b></td>
			       <td>{{ form.assessment }}</td>
			       <td>{{ form.alternative }}</td>
			    </tr>  
			    {% if form.hint.value %}
				    <tr>
				         <td><b>Hint:</b> {{form.hint.value}} <br></td>
				         
			        </tr>
		        {% endif %}
		        <tr height= 45px></tr>
    
	            {% for hidden_field in form.hidden_fields %}
	              {{ hidden_field }}
	            {% endfor %}
		    {% endfor %}
	    </table>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-1">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>      
            <div class="col-md-5"></div>
        </div>
  </form>    
        
    
{% endblock %}


{% block javascript %}
{% endblock %}