{% load bootstrap4 %}
    <table>
    {% for question in question_list %}
            <tr>
                <td><a href="{% url 'grammar:update_question' question.id %}"> <button class="btn btn-primary" value="">Edit</button></a></td>
                <td>
			        <b>{{ question.front }} : {{ question.back }}</b><br>
			        <small>{{ question.grammars }}</small>
			        {% for rat in question.front_ratifications %}
			            <td>
				            <i>Front:</i> {{rat.author}}: {{rat.assessment}}
				        </td>
				            {% if rat.alternative %}			            
				                 <td>{{rat.alternative}}</td>
				                 <td> 
				                    <a href="{% url 'grammar:apply_ratification_update' rat.id %}"> <button class="btn btn-success" value="">Apply Update</button></a>				                 
                                </td>
				            {% endif %}
			        {% endfor %}
			        {% for rat in question.back_ratifications %}
                        <td>
                            <i>Front:</i> {{rat.author}}: {{rat.assessment}}
                        </td>
                            {% if rat.alternative %}                        
                                 <td>{{rat.alternative}}</td>
                                 <td> 
                                    <a href="{% url 'grammar:apply_ratification_update' rat.id %}"> <button class="btn btn-success" value="">Apply Update</button></a>                               
                                </td>
                            {% endif %}
			        {% endfor %}
                </td>
            </tr>
    {% endfor %}
    </table>