{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Questions being checked{% endblock %}

{% block content %}
    <h2>Rejections</h2>
    {% include "grammar/ratification_eval_snippet.html" with question_list=questions.Reject %}

    <h2>Mixed</h2>
    {% include "grammar/ratification_eval_snippet.html" with question_list=questions.Mixed %}

    <h2>Approvals</h2>
    {% include "grammar/ratification_eval_snippet.html" with question_list=questions.Approve %}
{% endblock %}


{% block javascript %}
{% endblock %}