{% extends 'base.html' %}

{% block title %}Insufficient Permissions{% endblock %}

{% block content %}

<div class="jumbotron">
  <p>If you would like permissions for this action "{{exception}}", then please copy the following form and email it to the website administrator at: talkingtoaj@hotmail.com
  </p>
  <br>
  <h3>Request for access</h3>
  <br>
  <p>Hello, my name is _____, </p>
  <p>I would like permission to do "{{exception}}" because _____. My username is _____.</p>
  <p>Thank you</p>
</div>


{% endblock %}



