{% load i18n %}

<div class="jumbotron">
  <p>{% trans "This project is currently in"%}
  <h1>{% trans "Early Beta Release"%}</h1>
  {% comment %}Translators : It is only suitable for testing and feedback purposes. If you would like to be informed when future releases come out, please provide your email address {% endcomment %}
  <p>{% blocktrans %} It is only suitable for testing and feedback purposes. If you would like to be informed when future releases come out, please provide your email address {% endblocktrans %}</p>
  <p><a class="btn btn-primary btn-lg" href="http://eepurl.com/c4Aj2P" role="button">{% trans "Sign up for Announcements"%}</a></p>
  {% comment %}Translators : Announcement Updates{% endcomment %}
  <h3>{% trans "Updates"%}</h3>
  <ul>
    <li>{% blocktrans %}Only English->Turkish currently has content, so please select "English" as one of your native languages during sign-up, and "Learn Turkish" as your course. Otherwise there will be no content to see - sorry!{% endblocktrans %}</li>
  </ul>
</div>
