<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block head_title %}{% endblock %}</title>
	    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		
		{% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

		{% bootstrap_javascript jquery='full' %}
		{{ form.media }}
		{% block head %}{% endblock %}
	</head>

	<body>
		{% include 'navbar.html' %}
		<h1><center>{% block title %}{% endblock %}</center></h1>
		<div class="container" id="messages">
			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
						<div class="alert alert-{% if message.level_tag == 'ERROR' %}danger{% else %}{{ message.level_tag }}{% endif %}">
						    {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
						</div>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	    <script type="text/javascript">
		    {% block javascript %}
		    {% endblock %}
	    </script>
	</body>
</html>
