<div class="fieldWrapper">
  {{ fld.errors }}
  {% if fld.help_text %}
    <a href="#" data-toggle="tooltip" title="{{ fld.help_text|safe }}">{{ fld.label_tag }}</a>
  {% else %}
  	{{ fld.label_tag }}
  {% endif %}  
  <br>{{ fld }}
</div>