<!-- Modal -->
{% load i18n %}

<div id="Modal_{{modal_id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ modal_header }}</h4>
      </div>
      <div class="modal-body">
        {{ modal_text|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        	{% comment %}Translators : Close pop-up window{% endcomment %}
        	{% trans "Close"%}
        </button>
      </div>
    </div>

  </div>
</div>