{% load i18n %}
{% load static %}
{% load bootstrap4 %}

<nav class="navbar navbar-expand-md navbar-light" >
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>

      <a class="navbar-brand" href="{% url 'main:switchboard'%}">      
        <img src="{% static 'images/GFGDlogocolorFSP.svg' %}" style="width:55px;height:55px;"/>
        Grow Fast Grow Deep 
      </a>

    <div class="collapse navbar-collapse" id="navbar1">
          <ul class="navbar-nav">
	          {% if perms.main.content_creator or perms.main.ratify %}
			      <li class="nav-item dropdown">
			          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Administrators</a>
			          <ul class="dropdown-menu">
                            <li class="nav-item active"><a href="{% url 'grammar:ratify_questions'%}">{% trans "Check translations" %}</a></li>			          
			            {% if perms.main.content_creator %}
				            <li class="nav-item"><a href="{% url 'grammar:new_question'%}">{% trans "Questions" %}</a></li>
				            <li class="nav-item"><a href="{% url 'grammar:create_dashboard'%}">{% trans "Grammars" %}</a></li>
				            <li class="nav-item"><a href="{% url 'coach:tip_list'%}">{% trans "Coaching Tips" %}</a></li>
			            {% endif %}
			          </ul>
			      </li>
	          {% endif %}

            <li class="nav-item dropdown">
	          {# Translators : Select Language #}
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{% trans "Language" %}</a>
	          <ul class="dropdown-menu">
		          {% get_available_languages as languages %}
		          {% for language in languages %}
			          <li class="nav-item {% ifequal current_language language.0 %}active{% endifequal %}">
			            <a href="/./{{ language.0}}/accounts/login/?next=" title="{{ language.1 }}">
			              {{ language.1 }}
			            </a>
			          </li>
		          {% endfor %}
	          </ul>
			</li>

	            {% if user.is_authenticated %}
		            <li class="nav-item dropdown">
		              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{% trans "Account" %}</a>
		              <ul class="dropdown-menu">
		                <li><a href="{% url 'main:select_course'%}">{% trans "Change course" %}</a></li>
		                <li role="separator" class="divider"></li>
			            <li><a href="{% url 'logout_view'%}">{% trans "Log out" %}</a></li>
		              </ul>
		            </li>		            
	            {% else %}
                    <li >
                      <a href="{% url 'login'%}" class="nav-link" >{% trans "Log in" %}</a>
                    </li>
                {% endif %}	            
        </ul>
     </div>
     {% if request.session.selected_sp_title %}
        <a href="{% url 'main:select_course'%}">{{ request.session.selected_sp_title }}</a>
     {% endif %}     
</nav>
