{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

<style type = "text/css">
    body {
        background-image: url({% static 'images/sunset.jpg' %});
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<br>
<div class="card card-body bg-light" style="background-color:lightblue">
    <img src="{% static 'images/GFGDlogocolorFSP.svg' %}" style="width:255px;height:200px;" align="right"/>
    <br>
    <h3>Free Language coaching tailored for you</h3>
    <a href="{% url 'main:getting_started' %}"><button type="button" class="btn btn-success">Get started</button></a>
    <br>
    
    {% include "announcement.html" %}

    <h2>Serious about learning a language?</h2>
	<p>Grow Fast Grow Deep is the language tool for those serious about reaching fluency.</p>        
	<p>
	You've probably seen language websites making claims like
	</p>
	<blockquote class="blockquote"><p><center>
	<i>Become fluent overnight, without any work, while you sleep...</i>
	</center></p></blockquote>
    <p>
    We won’t pretend genuine fluency doesn’t take hard study. However there is a big difference between study that 
    effectively moves you forward towards fluency and study that produced no discernible results. Grow Fast Grow Deep 
    is the tool for those whose professional life requires genuine fluency in a foreign language.
	</p>
	<p>
	Grow Fast Grow Deep isn’t just a learning tool, it is a coaching tool. It will teach you how to immerse yourself 
	amongst people who speak your target language regardless of whether you are currently living abroad or learning 
	before you travel. Grow Fast Grow Deep will tailor a language learning program to your personal situation walking 
	you though the most effective path to becoming proficient in your target language.
	</p>
	<center>
	<p><i>Learn a language to complete fluency in the most effective manner possible</i></p>
	</center>
</div>
<br><br><br><br><br>
{% endblock %}



