{% extends 'base.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
{% endblock %}

{% block title %}Weekly Check-in Report{% endblock %}

{% block content %}
<div class="container">
	<p>
		<a href="{% url 'main:review_summary'%}"> <button class="btn btn-primary" value="">Revisit Review Summary</button></a>
	</p>
	<p>It has been {{elapsed_days}} days since your last check-in. Please fill in a log of your language learning activities since your last check-in on {{ last_checkin_date }}.</p>

	<form action="" method="post">{% csrf_token %}
    {% include "main/form_header_snippet.html" %}           
	
		<table>
		   <thead>
		       <tr>
		           <th>Learning category</th>
		           <th>Number of hours</th>
	               <th>What did you do?</th>
		       </tr>
		   </thead>
		   <tbody>
		       <tr width="100%">
		           <td><b>Input</b><br>
	               </td>
	               <td>{{form.InputHours}}</td>
	               <td>{{form.InputActivities}}</td>
	               <td>
	                    <span style="color:Tomato" data-html="true" data-trigger="hover" data-toggle="tooltip" title="Any time deliberate teaching is being done by someone else.<br>Class lessons, sessions with a tutor, Skype lessons, meetings with a language helper in a cafe...">
	                        <i class="fas fa-question-circle fa-lg"></i>
	                    </span>	               
	               </td>
		       </tr>
	           <tr>
	               <td><b>Personal study time</b>
	               </td>
	               <td>{{form.StudyHours}}</td>
	               <td>{{form.StudyActivities}}</td>
	               <td>	               
	                    <span style="color:Tomato" data-html="true" data-trigger="hover" data-toggle="tooltip" title="Any time spent by yourself.<br>Reviewing notes, studying flashcards, reading textbook, watching TV.">
	                        <i class="fas fa-question-circle fa-lg"></i>
	                    </span>	               
	               </td>
	           </tr>
	           <tr>
	               <td><b>Community time</b>
	               </td>
	               <td>{{form.CommunityHours}}</td>
	               <td>{{form.CommunityActivities}}</td>
	               <td>
	                    <span style="color:Tomato" data-html="true" data-trigger="hover" data-toggle="tooltip" title="Any social time spent with native speakers outside a teaching arrangement.<br>Socialising, chatting, visiting a native speaker's home.">
	                        <i class="fas fa-question-circle fa-lg"></i>
	                    </span>
	               </td>
	           </tr>
		   </tbody>	
		</table>
		<p>My total hours: <b><output id="1total_hours">0</output></b></p>
	    <p>Weekly total language hour goal: <b>{{Weekly_hour_goal}}</b>. </p>
	    <p>My weekly hour average is:<b><output id="weekly_avg">0</output></b></p>
	    <p>(<output id="2total_hours">0</output> hours over the past <span id="elapsed">{{elapsed_days}}</span> days)</p>
	    <p>The following factors affected achieving or not achieving my language goal hours during this time:</p>
	    {{form.factors}}
	    <p>I would describe my current level of motivation as...</p>
	    <div class="btn-group" role="group" data-toggle="buttons" aria-label="motivation level">
		    <button type="button" class="btn btn-secondary">    		    
    		    Very low<input hidden name="motivation" aria-hidden="true" value="Very low" type="radio">
		    </button>
            <button type="button" class="btn btn-secondary">                
                Poor<input hidden name="motivation" aria-hidden="true" value="Poor" type="radio">
            </button>
            <button type="button" class="btn btn-secondary">                
                Mediocre<input hidden name="motivation" aria-hidden="true" value="Mediocre" type="radio">
            </button>
            <button type="button" class="btn btn-secondary">                
                Good<input hidden name="motivation" aria-hidden="true" value="Good" type="radio">
            </button>
            <button type="button" class="btn btn-secondary">                
                High<input hidden name="motivation" aria-hidden="true" value="High" type="radio">
            </button>
	    </div>
	    <p>...because: {{form.motivation_reason}}</p>
	    <p>To move forward in my language learning at this time, I need help and advice on the following:</p>
	    {{form.help_request}}
	    <p>Would you like to make an entry this week in the <b>"Embarrassing Language Story Competition"</b>?
            <span style="color:Tomato" data-html="true" data-trigger="hover" data-toggle="popover" title="What is the Embarrasing Language story competition?" 
                data-content="
                <p>The only way to learn a language is by practice and that requires us to make mistakes!</p> 
                <p>If we become ashamed of our mistakes we are likely to stop trying, so research suggests an 
                essential characteristic of successful language students is the ability to laugh at themselves.</p> 
                <p>With that in mind, you are encouraged to 
                revel in your embarrasing language stories. In fact, each week a winner will be selected for the student who 
                has made the most humourous language mistake. Why not share your tears with others and bring them to
                tears of laughter?</p>">  
			    <i class="fas fa-question-circle fa-lg"></i>
			</span>
	       
	    </p>
	    {{form.embarrassing_story}}
	    <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
</div>
{% endblock %}

{% block javascript %}

	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover(); 
        $('[data-toggle="tooltip"]').tooltip(); 
    });

    $('select').change(function(e) { // select element changed
        enableSaveBtn();
    });

    // whenever an hour input is touched, recalc total hours and average
    $("[id$='Hours']").change(function() {
        console.log("activated");
        // sum up hour inputs, by getting their value.
        var hour_total = 
            parseFloat($("[id$='InputHours']").val()) +
            parseFloat($("[id$='StudyHours']").val()) +
            parseFloat($("[id$='CommunityHours']").val());        
		var weekly_avg = hour_total * (7 / ($("#elapsed").html()));
       // store solution in destinations       
       $("[id$='total_hours']").html(Math.round(hour_total));
       $("#weekly_avg").html(Math.round(weekly_avg));       
	});
    
    	
{% endblock %}
            
