<form method="post" novalidate>
    {% csrf_token %}
    <p>{{ continue_message }}</p>
    <div align="center"><input class="btn btn-primary" autofocus type="submit" value="{{ continue_button_message|default:"Continue" }}" /></div>
</form>


