{% load bootstrap4 %}

<form method="post" novalidate>
  {% csrf_token %}

    <div class="panel panel-primary">
		<div class="panel-body">

            {% bootstrap_form form %}
		</div>
	    <div class="panel-footer">
			<div class="row"></div>
			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-1">
					<input class="btn btn-primary" type="submit" value="Save" />
			    </div>		
				<div class="col-md-5"></div>
			</div>
		</div>	
    </div>	
</form>


