{% extends 'base.html' %}

{% block title %}Create {{ model_name }}{% endblock %}

{% block content %}

    {% include "main/form_snippet.html" %}

    <a href="{% url list_url %}"><button type="button" class="btn btn-primary">List of {{ model_name }}</button></a>

{% endblock %}



