{% extends 'base.html' %}

{% block title %}{{ model_name }} Update{% endblock %}

{% block content %}

    {% include "main/form_snippet.html" %}
    <a href="{% url create_url %}"><button type="button" class="btn btn-success">Create a new {{ model_name }}</button></a>
    <a href="{% url list_url %}"><button type="button" class="btn btn-primary">List of {{ model_name }}</button></a>

{% endblock %}



