{% extends 'base.html' %}

{% block title %}{{ model_name }} List{% endblock %}

{% block content %}
    <table class="table">
        <tbody>
	    	{% for item in object_list %}
		       <tr>
		           <td>
		               <a href="{% url update_url item.id %}"><button type="button" class="btn btn-primary">Update</button></a>    
		           </td>
	               <td>
	                   {{ item.title }}
	               </td>
	               <td>
	                   <a href="{% url delete_url item.id %}"><button type="button" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i></button></a>
	               </td>
	          </tr>
		   {% empty %}
		   <tr><td>No {{ model_name }}s found.</td></tr>
		   {% endfor %}
        </tbody>
   </table>
    <a href="{% url create_url %}"><button type="button" class="btn btn-success">Create a new {{ model_name }}</button></a>
{% endblock %}