{% extends 'base.html' %}

{% block title %}Delete {{ model_name }}{% endblock %}

{% block content %}
    <div class="card card-body bg-light">	
	<form action="" method="post">{% csrf_token %}
	    <p>Are you sure you want to delete <strong>{{ object }}</strong>?</p>
		<input class="btn btn-primary" type="submit" value="Confirm" />

	</form>

{% endblock %}
