{% extends 'base.html' %}
{% load static %}
{% block title %}<font color="black">Welcome! Tell us a little about yourself</font>{% endblock %}

{% block content %}

	<div class="card card-body bg-light">
		<style type = "text/css">
		    body {
		        background-image: url({% static 'images/village.jpg' %});
		        background-size: cover;
		        background-repeat: no-repeat;
		    }
		</style>



        {% include "main/form_snippet.html" %}
	</div>
{% endblock %}
