{% extends 'base.html' %}

{% block title %}Review Summary{% endblock %}

{% block content %}

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#CoachingTips" role="button" aria-expanded="false" aria-controls="collapseExample">
        View Coaching Tips
    </a>
    <a class="btn btn-primary" data-toggle="collapse" href="#Homework" role="button" aria-expanded="false" aria-controls="collapseExample">
        View Homework
    </a>
    {% if check_in_possible %}
        <a href="{% url 'main:switchboard'%}"> <button class="btn btn-primary" value="">Begin weekly check-in</button></a>
    {% endif %}
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Learning Focus</th>
            <th>Proficiency</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Grammar</td>
            <td>{{ grammar_stage }} </td>
            <td><a class="btn btn-primary" data-toggle="collapse" href="#GrammarProgress" role="button" aria-expanded="false" aria-controls="collapseExample">View</a></td>	            
        </tr>
        <tr>
            <td>Pronunciation</td>
            <td>{{ pronunciation_stage }}</td>
            <td><a class="btn btn-primary" data-toggle="collapse" href="#PronunciationProgress" role="button" aria-expanded="false" aria-controls="collapseExample">View</a></td>
        </tr>
    </tbody>
</table>


<div class="collapse" id="GrammarProgress">
  <h2>Grammar</h2>
  <div class="card card-body">
    {% include "grammar/grammar_progress_snippet.html" %} 
  </div>
</div>


<div class="collapse" id="PronunciationProgress">
  <h2>Pronunciation</h2>
  <div class="card card-body">
    <p>Not yet measured</p>
  </div>
</div>



<div class="collapse" id="CoachingTips">
  <h2>Coaching Tips</h2>
  <div class="card card-body">
    {% include 'coach/tips_subtable.html' %}
  </div>
</div>

<div class="collapse" id="Homework">
  <h2>Homework</h2>
  <div class="card card-body">
    {% include 'coach/exercises_subtable.html' %}
  </div>
</div>


{% endblock %}
    