{% extends 'base.html' %}

{% block title %}{{ form_title }}{% endblock %}

{% block content %}

   
	<div class="card card-body bg-light">
		<form action="" method="post" id="signup_form">
			{% csrf_token %}
			<table class="table">
				<tbody>				
				{% for record in course_details %}
					<tr>
    					<td>
							{% if record.course_health > record.course.QUALITY.MEDIUM.value %}
							    <label class="btn btn-success">Course quality {{record.course.QUALITY.MEDIUM.description}}
							{% elif record.course_health > record.course.QUALITY.LOW.value %}
							    <label class="btn btn-warning">Course quality {{record.course.QUALITY.LOW.description}}
							{% else %}
							    <label class="btn btn-danger">Course still in development
							{% endif %}
                            <input type="radio" style="display: none;" name="selection_code" id="course_radio{{ forloop.counter }}" value="{{ record.course_code }}" />
                            
                            </label>
                        </td>
                        <td>
                            {{ record.course_title }}
                        </td>
					</tr>
                {% empty %}
                    <tr><td>There are no other courses available</td></tr>					
				{% endfor %}
				</tbody>
			</table>
		</form>
	</div>
	{% if add_signup_option %}
        <a href="{% url "main:signup_course" %}">Sign up for a new course</a>
    {% endif %}
{% endblock %}

{% block javascript %}
    $('input[id^=course_radio]:radio').change(function() {
        console.log("radios other clicked");
        $('#signup_form').submit();
    });
{% endblock %}
