{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Congratulations {{ user.first_name }} on registering{% endblock %}

{% block content %}
<style type = "text/css">
    body {
        background-image: url({% static 'images/cay.jpg' %});
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="container">
	<p>You have just successfully enrolled in a personally tailored language learning program that will help ensure you acquire {{ target_language }} in the quickest time possible.</p>
	<h2>Coaching, not Teaching</h2>
	<p>Grow Fast Grow Deep is not primarily a language teaching tool, there are a lot of them already on the web and elsewhere, rather it is a language coaching tool. 
	Our goal is to tailor a program to you drawing on the best tools and learning techniques presently available. Some tools we recommend will cost money, most will be free. You have 
	the discretion to decide which tools and techniques you will employ.</p>
	<p>The recommendations of GFGD (Grow Fast Grow Deep) are produced by an Artificial Intelligence drawing on a vast database of coaching advice. It is constantly learning and will seek to 
	learn from you. By giving feedback on which coaching advice has proved effective for you and which have not, it will learn in order to give you better tailored advice in the future 
	and better advice to students who follow in your footsteps.</P>
    <h2>The weekly check-in</h2>
    <p>We encourage you to log in to GFGD weekly for a coaching check-in. Each coaching session will follow four stages:</p>
    <ol>
        <li>REPORT</li>
        <li>ASSESS</li>
        <li>COACH</li>
        <li>HOMEWORK</li>
    </ol>
    <p>Your weekly time will start by giving you an opportunity to REPORT on what language learning activities you have engaged in since your last check-in. You will also be asked 
    to give your thoughts and feedback on the coaching advice and homework you received previously.</p>
    <p>After that we will ASSESS your language level via different aspects. One week we may assess your grammar knowledge, another your pronunciation, and another week your listening 
    comprehension. This will give us an idea in which areas you are excelling and in which areas you may require assistance.</p>
    <p>The COACH phase then will focus on presenting you with language learning advice tailored to your level and areas of strength and weakness.</p>
    <p>Finally, HOMEWORK will be presented that will help you in using your time most effectively over the coming week.</p>
    <p></p>
    <p>Phew! That's a long introduction. If you like you can take a break now and log in again later, or if you are ready to proceed with your first session, just click on the button below. 
    It is worth knowing that GFGD will always remember where you have gotten up to and permit you to pick up from where you left off last.</p>
    <p></p>
        {% include 'main/continue_button_form_snippet.html' with continue_button_message='Begin first assessment' %}
</div>
{% endblock %}



